/*
Convention:
  1. Positioning (static, absolute, relative, fixed)
  2. Box model  (margin, border, padding, content)
  3. Typography (tipos, tamaños de fuente, etc)
  4. Visual (box-shadow, border-radius, gradient, etc)
  5. Others
*/
:root {
  --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --warm2-black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;
  --margin-center-table: calc(50% - calc(235px / 2));
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 320px;
  height: 30rem;
  background: var(--linear-bg);
}
header img {
  margin-top: 40px;
}
.header__title-container {
  width: 90%;
  margin-top: 20px;
}
.header__title-container h1 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header__title-container p {
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header__title-container .header__btn {
  position: absolute;
  top: 100%;
	left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 229px;
  padding: 12px 16px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--warm-black);
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16) ;
  border-radius: 4px;
}
.header__title-container .header__btn span {
  display: inline-block;
  margin-left: 10px;
  width: 13px;
  height: 8px;
  background-image: url('../assets/icons/down-arrow.svg');
}
main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 6rem;
  text-align: center;
}
.backgroundImg {
  display: block;
  width: 195px;
  height: 195px;
  background: url('../assets/img/Bitcoin.svg') center no-repeat;
  margin: 0 auto 5rem auto;
}
.main-exchange-container__title {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.main-exchange-container__title h2 {
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.main-exchange-container__title p {
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
}
.main-exchange-container__table {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
}
.main-exchange-container__table::-webkit-scrollbar {
  display: none;
}
.main-table,
.second-table {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.5rem;
  margin: 0 auto;
}
.main-exchange-container__table h3 {
  align-self: flex-start;
  padding: 2.5rem 0 1.3rem 3.3rem;
  font-size: 1.8rem;
  color: #FF9536;
}
.main-exchange-container__table .second-table h3{
  color: var(--secondary-blue);
}
.table {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1px;
  box-shadow: 2px 2px 8px var(--grey);
}
.table .table__item {
  width: 9.5rem;
  height: 3.9rem;
  padding: 10px 12px;
  background-color: var(--just-white);
}
.table .table__item--name {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: left;
  color: #B5B0AC;
}
.table .table__item--price {
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #757575;
}
.table .table__item:first-child {
  border-radius: 8px 0 0 0;
}
.table .table__item:nth-child(2) {
  border-radius: 0 8px 0 0;
}
.table .table__item:nth-last-child(1){
  border-radius: 0 0 8px 0;
}
.table .table__item:nth-last-child(2){
  border-radius: 0 0 0 8px;
}
.main-exchange-container__table p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.3rem;
  height: 3.1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  background-color: var(--soft-orange);
}
.main-exchange-container__table .second-table p {
  background-color: var(--soft-blue);
}
.main-exchange-container__table p span {
  font-weight: 700;
  margin-right: 0.5rem;
}
.main-exchange-container__table .down {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
  background: url('../assets/icons/trending-down.svg') center/cover no-repeat;
}
.main-exchange-container__table .up {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
  background: url('../assets/icons/trending-up.svg') center/cover no-repeat;
}
.table__go--rigth {
  position: absolute;
  top: calc(50% - 1.5rem);
  right: -1rem;
}
.table__go--left {
  right: auto;
  left: -1rem;
  transform: rotate(180deg);
}
/*------------------------------------------------------*/
.main-product-detail{
  position: relative;
  background-color: var(--warm-black);
}
.main-product-detail__icon--batata {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.745rem;
  height: 2.401rem;
  background: url('../assets/icons/batata.svg') center/cover no-repeat;
}
.main-product-detail__title {
  width: 288px;
  padding-top: 6rem;
  margin: 0 auto;
  text-align: center;
  color: var(--off-white);
}
.main-product-detail__title h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 2.5rem;
}
.main-product-detail__title p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 2.5rem;
  color: #808080
}
.product-detail__container {
  padding-bottom: 4rem
}
.product-detail__card {
  height: 152px;
  width: 288px;
  margin: 0 auto 1.5rem auto;
  border-radius: 4px;
  background-color: var(--warm2-black);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail__card-box {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}
.product-detail__card-title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product-detail__card-body {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #909090;
}
.product-detail__card:last-child {
  margin: 0 auto;
}
/*---------------------BITCOIN-IMAGE-------------------------------*/
.bitcoin-img-container {
  width: 100%;
  height: 60vh;
  background: url('../assets/img/bitcoinbaby2x.jpg') center/cover no-repeat;
}
.bitcoin-img-container h2 {
  padding-top: 5rem;
  text-align: center;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}
/*---------------------PLANS-------------------------------*/
.main-plans-container {
  padding-bottom: 1rem;
}
.main-plans-container__title {
  width: 90%;
  margin: 0 auto;
  padding: 6rem 0 4rem 0; ;
  text-align: center;
}
.main-plans-container__title h2{
  padding-bottom: 2rem;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.main-plans-container__title p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
}
.plans-container__slider {
  display: grid;
  grid-auto-flow: column;
  height: 316px;
  gap: 2rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding: 0 2rem;
}
.plans-container__slider::-webkit-scrollbar {
  display: none;
}
.plans-container__card {
  position: relative;
  scroll-snap-align: center;
  width: 19rem;
  height: 24.7rem;
  margin: 1.6rem auto 2rem auto;
  border-radius: 8px;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container__card-type {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .8rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.452rem;
  border-radius: 8px;
  color: var(--just-white);
  background-color: var(--bitcoin-orange);
}
.plan-basic{
  background-color: var(--secondary-blue);
}
.plan-lifetime {
  background-color: rgb(155, 35, 155);
}
.plans-container__card .plan-basic--button {
  border: 2px solid var(--secondary-blue);
}
.plans-container__card .plan-lifetime--button {
  border: 2px solid rgb(155, 35, 155);
}
.plans-container__card-info{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
}
.plans-container__card-info h3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}
.plans-container__card-info p:nth-child(2) {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.293rem;
  letter-spacing: -0.08em;
}
.plans-container__card-info p:nth-child(3) {
  font-size: 1.2rem;
  line-height: 1.452rem;
  text-align: center;
  color: #757575;
}
.plans-container__card-info button {
  display: flex;
  padding: 1.2rem 1.6rem;
  font-size: 1.4rem;
  line-height: 1.823rem;
  font-weight: 700;
  color: var(--warm-black);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  background-color: var(--off-white);
}
.plans-container__card-info button span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: .5rem;
  background: url('../assets/icons/orange-right-arrow.svg') center/cover no-repeat;
}
.plans-container__card-info .plan-basic--button-icon{
  background: url('../assets/icons/blue-right-arrow.svg') center/cover no-repeat;
}
.plans-container__card-info .plan-lifetime--button-icon{
  background: url('../assets/icons/purple-right-arrow.svg') center/cover no-repeat;
}
.dollar--sup {
  position: absolute;
  top: 20%;
  left: calc(50% - 40px);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.452rem;
}
.month{
  left: calc(50% - 35px);
}
.life {
  left: calc(50% - 52px);
}

/*----------------------ICONOS------------------------------*/
.icon {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
}
.clock {
  background: url('../assets/icons/clock.svg') center/cover no-repeat;
}
.eye {
  background: url('../assets/icons/eye.svg') center/cover no-repeat;
}
.dollar {
  background: url('../assets/icons/dollar-sign.svg') center/cover no-repeat;
}
.check-circle {
  background: url('../assets/icons/check-circle.svg') center/cover no-repeat;
}